<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/index.css" />

    <title>Home Page</title>
  </head>
  <body>
    <%- include('./partials/_navbar.ejs') %>
    <% if (user) { %>
      <h1><span class="bold"><%= user.username %></span>! your journey begins here!</h1>

      <!-- <form action="/ongoingProjects/test" method="post" enctype="multipart/form-data">
        <input type="file" name="test">
        <button class="submit" type="submit">Add</button>
      </form> -->

    <% }else{ %>
      <div class="screen">
        <h1>Sign up or sign in to start your art journey</h1>
        <div id="links">
          <a class="submit" href="/auth/sign-in">sign in</a>
          <a class="submit" href="/auth/sign-up">sign up</a>
        </div>
      </div>
    <% } %>
  </body>
</html>
