@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

body{
  margin: 0 15px;
  box-sizing: border-box;
  text-align: center;
  background-color: rgb(254, 234, 199);
}

/* fonts */
h1{
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  color: rgb(141, 67, 22);
}

.text{
  text-decoration: none;
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: rgb(141, 67, 22);
}

.bold{
  font-weight: 600;
}

/* og elements*/

input, textarea{
  padding: 5px;
  border-radius: 15px;
  border: 1.5px rgb(141, 67, 22) solid;
}

label, input, textarea{
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: rgb(141, 67, 22);
}

form{
  text-align: left;
}

button{
  text-decoration: none;
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: rgb(141, 67, 22);
  background-color: rgb(254, 234, 199);
}

/* orientation */

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexColumn{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flexSpaceBetween{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.grid {
  display: grid;
  grid-template-columns: 150px 150px 150px 150px 150px;
  place-items: center;
}

/* margins */
.marginTop{
  margin-top: 20px;
}

.marginRight{
  margin-right: 10px;
}

.marginAround{
  margin: 0px 15px;
}

/* special */
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
}

.submit{
  padding: 10px;
  border: 1.5px rgb(141, 67, 22) solid;
  border-radius: 15px;
  font-size: medium;
}

.submit:hover{
  border:none;
  background-color: rgb(249, 248, 245);
  box-shadow: 3px 3px;
}

.icon{
  height: 100%;
  width: 100%;
  max-height: 50px;
  max-width: 50px;
}

.card{
  width: 80%;
  max-width: 600px;
  height: 50px;
  border-radius: 15px;
  background-color: rgb(249, 248, 245);
  box-shadow: 3px 3px #8d4316;
}
