@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

/* colors */
:root{
  --Main: #8d4316;
  --Bg: #feeac7;
  --White: #f9f8f5;
  --OffWhite: #efe7dd;
  --OffWhiteShadow: hsl(28, 33%, 82%);
}

/* ref: https://www.w3schools.com/css/css3_variables.asp#:~:text=A%20good%20way%20to%20use,can%20place%20them%20in%20variables. */

body{
  margin: 0 15px;
  box-sizing: border-box;
  text-align: center;
  background-color: var(--Bg);
}

/* fonts */
h1{
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  color: var(--Main);
}

.text{
  text-decoration: none;
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--Main);
}

.bold{
  font-weight: 600;
}

/* og elements*/

input, textarea{
  padding: 5px;
  border-radius: 15px;
  border: 1.5px var(--Main) solid;
}

label, input, textarea, p{
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--Main);
}

form{
  text-align: left;
}

button{
  text-decoration: none;
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--Main);
  background-color: var(--Bg);
}

/* orientation */

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexColumn{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flexSpaceBetween{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.grid {
  display: grid;
  grid-template-columns: 150px 150px 150px 150px 150px;
  place-items: center;
}

/* margins */
.marginTop{
  margin-top: 20px;
}

.marginRight{
  margin-right: 10px;
}

.marginAround{
  margin: 0px 15px;
}

.noMargin{
  margin: 0;
}

/* special */
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
}

.submit{
  padding: 10px;
  border: 1.5px var(--Main) solid;
  border-radius: 15px;
  font-size: medium;
}

.submit:hover{
  border:none;
  background-color: var(--White);
  box-shadow: 3px 3px;
}

.icon{
  height: 100%;
  width: 100%;
  max-height: 50px;
  max-width: 50px;
}

.card{
  width: 80%;
  max-width: 600px;
  padding: 15px;
  border-radius: 15px;
  background-color: var(--White);
  box-shadow: 3px 3px var(--Main);
}


.inCardSubmit{
  padding: 10px;
  background-color: var(--Main);
  border-radius: 15px;
  font-size: medium;
  border: none;
  color: var(--Bg);
}

.inCardSubmit:hover{
  border: 1.5px var(--Main) solid;
  background-color: var(--White);
  color: var(--Main);
}