a{
  text-decoration: none;
  font-family: "Sour Gummy", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: medium;
  color: rgb(141, 67, 22);
}

.user{
  display: flex;
  justify-content: space-between;
}