<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <h1>Welcome to ongoing projects</h1>

  <% projects.forEach((project)=>{ %>
    <% if(project.status==="ongoing") {%>

      <div class="flex">
        <div class="card flex">
          <a href="/ongoingProjects/project/<%= project._id %>"><%= project.name %></a>
        </div>
      </div>

    <br>

  <% }}) %>

</body>
</html>